<label>Server Name</label>
<body>
<h1>Line 2</h1>
<p>This block is from serversss</p>
<input type="text" class="form-control" (input)="updateServerName($event)" value [(ngModel)] = "clearedField" >
<p>{{serverName}}</p>

<button class="btn btn-primary" [disabled]= "!allowNewServer" 
(click) = "onCreateServer()"> Create {{serverName}} server </button>

<button class="btn btn-primary" [disabled] = "emptyField" (click) = "clearField()">Reset Inputs</button>

<p> {{serverCreationStatus}} </p>
<app-server></app-server>
<hr>
</body>